* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(121, 109, 175, 0.342);
}

.player {
    max-width: 750px;
    max-height: 90vh;
    border: 5px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}

.controls-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.8s ease-out;
    transform: translateY(100%) translateY(5px);
    margin-bottom: 5px;
}

.player:hover .controls-wrapper {
    transform: translateY(0);
}

.progress {
    width: 100%;
    height: 7px;
    border: 1px solid lightcyan;
    border-left: 0;
    border-right: 0;
    margin-bottom: 5px;
}

.progress-filled {
    width: 0;
    height: 7px;
    background-color: red;
    margin-top: -1px;
}

.player-button {
    font-weight: bolder;
}

.controls-wrapper button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}