* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgba(175, 56, 12, 0.541);
    font-family: ubuntu, 'sans-serif';
}

.hero {
    width: 100%;
    height: 70vh;
    background: url("hero-bg.jpg");
    background-size: cover;
}

.navbar {
    /* padding: 20px 5px; */
    background: rgb(179, 245, 79);
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    position: relative;
    top: 0;
    width: 100%;
    transition: all 0.5s;
    box-sizing: content-box;
    height: 60px;
}

.brand {
    background: white;
    max-width: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
}

.nav-ul {
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-self: center;
}

@media (max-width: 800px) {
    .nav-ul {
        width: 100%;
    }
}

.navbar li {
    list-style-type: none;
}

a {
    color: rgb(46, 4, 4);
    text-decoration: none;
}

.contents {
    margin: 15px 40px;
    padding: 15px 25px;
    background: white;
    transform: scale(0.95);
    transition: all 0.3s ease-out;
}

.contents p {
    margin-bottom: 20px;
}

body.fixed-nav .navbar {
    box-shadow: 0 0 8px 4px rgba(128, 128, 128, 0.267);
    position: fixed;
    height: 50px;
}

body.fixed-nav .contents {
    transform: scale(0.98);
}

body.fixed-nav .brand {
    max-width: 80px;
}