* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: ubuntu, 'sans-serif';
}

li {
    list-style-type: none;
}

header {
    background: goldenrod;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    padding: 15px;
}

.menu>li {
    position: relative;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
}

.menu li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.contents {
    margin: 30px 50px;
    padding: 20px 30px;
    background: khaki;
    border-radius: 30px;
}

p {
    margin-bottom: 10px;
    line-height: 1.2rem;
}

.dropdown {
    display: none;
    position: absolute;
    margin-top: 10px;
    padding: 20px;
    transition: all 0.3s, opacity 0.2s ease-in-out, display 0.25s;
    opacity: 0;
    transform: translateY(20px);
    min-width: 300px;
}

.dropdown-enter .dropdown {
    display: block;
}

.dropdown-active .dropdown {
    opacity: 1;
}

.dropdown-bg {
    background: white;
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 0;
    top: 0;
    left: 0;
    transition: all 0.3s, opacity 0.1s, trasnform 0.25s;
    border-radius: 4px;
    transform-origin: 50% 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 10px rgba(0, 0, 0, 0.2);
}

.open.dropdown-bg {
    opacity: 1;
}

.arrow {
    display: block;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    position: relative;
    background: white;
}

.dropdown-1 img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.dropdown-3 {
    padding: 20px 20px;
    min-width: auto;
}

.dropdown-3 li {
    padding: 5px;
}