* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: ubuntu, 'sans-serif';
    background: rgb(243, 191, 94);
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    background: gold;
    display: flex;
    justify-content: flex-end;
}

.navbar ul {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media(max-width: 900px) {
    .navbar ul {
        width: 100%;
    }
}

.navbar li {
    list-style-type: none;
    padding: 4px 6px;
    z-index: 4;
}

.navbar li a {
    text-decoration: none;
    color: rgb(14, 13, 13);
}

.contents p {
    padding: 10px 20px;
}

.contents a {
    color: inherit;
    z-index: 9;
    position: relative;
}

.highlight {
    transition: all 0.4s cubic-bezier(1, 0.04, 0.25, 1);
    position: absolute;
    background: white;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 10px;
    border-bottom: 2px solid white;
}

a {
    padding: 0;
    padding: 1px 2px;
    box-sizing: content-box;
}

li a {
    padding: 4px 25px;
}