* {
    margin: 0;
    padding: 0;
    background: goldenrod;
    transition: transform 1s ease-in, visibility 1s ease-in;
}

.container {
    width: 60%;
    min-height: 94vh;
    margin: 20px auto;
    background: whitesmoke;
    border-radius: 10px;
    padding: 20px;
}

.container>p {
    background: inherit;
    font-family: ubuntu, 'sans-serif';
    font-weight: light;
    line-height: 1.3rem;
    letter-spacing: 0.05rem;
    margin-bottom: 6%;
}

.container>p:last-child {
    margin-bottom: 5px;
}

p:nth-child(even)>img {
    float: right;
    margin-left: 10px;
    margin-top: 5px;
}

p:nth-child(odd)>img {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

p:nth-child(even)>.slide-in {
    transform: translate(30%);
    visibility: hidden;
}

p:nth-child(odd)>.slide-in {
    transform: translate(-40%);
    visibility: hidden;
}

img.active {
    visibility: visible;
    transform: translate(0);
}